<div class="bg-dark p-2 text-white">Players</div>
<div class="p-2">
  <ng-container *ngIf="player; else loginTemplate">
    <div [ngStyle]="{'color': player.hexColor}" class="overflow-hidden">
      <span>{{player.name}}</span><br/>
    </div>
    <hr>
    <div *ngFor="let player of players" [ngStyle]="{'color': player.hexColor}" class="overflow-hidden">
      <span>{{player.name}}</span><br/>
    </div>
  </ng-container>

  <ng-template #loginTemplate>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupUsername" placeholder="Username"
               [formControl]="loginName">
      </div>
      <button type="button" class="btn btn-primary w-100" (click)="login()">Login</button>
  </ng-template>
</div>
